h1, portfolio, p, beginning {
	color: #000033;
	font-family: Courier, monospace;
	}
beginning {
	text-align: right;
	}
p {
  font-size: 12pt;
	}
body {
	font-family: Courier, monospace;
	}
